@model WebApplication2.Models.Autor

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/Autor")

<h2>Create</h2>

<div class="form-horizontal">
    <h4>Autor</h4>
    <hr />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="text" name="Nombre" id="Nombre" placeholder="Nombre" />
            <hr />
            <input type="text" name="Nacionalidad" id="Nacionalidad" placeholder="Nacionalidad" />
            <hr />
            <input type="submit" value="Create" class="btn btn-default" onclick="Submit()" />
        </div>
    </div>

    <section id="msg">


    </section>




    @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <form method="post" action="/create">
                    <input type="text" name="Nombre" id="Nombre" placeholder="Nombre"/>
                    <hr />
                    <input type="text" name="Nacionalidad" id="Nacionalidad" placeholder="Nacionalidad"/>
                    <hr />
                    <input type="submit" value="Create" class="btn btn-default" />
                </form>
            </div>
        </div>*@
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


